/* header  start */
header{
    width: 100%;
    height: 30px;
    background: #f7f9f8;
}
.head{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
}
.head .left{
    float: left;
}
.head .hello{
    float: left;
}
.send,.local{
    color: #008842;
    float: left;
}
span{
    background: url("../images/header-img.png") no-repeat;
}
.local .sp1{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:0px 0px; 
}
.local:hover .sp1{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:-25px 0px;
    transition: .3s;
    transform: rotate(180deg)
}

.head .right{
    width: 574px;
    float: right;
}
.login,.register,.my1,.phone1,.chu,.li{
    float: left;
    margin-right: 20px;
    color: #444444;
}
.my1 .my{
    color: #444444;
}
.my1{
    padding: 0 5px;
    position: relative;
}
.my1 .sp2{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-40px 0px; 
}
.my1 .sp3{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:0px 0px; 
}
.my1:hover .sp3{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:-13px 0px;
}
.my1:hover{
    background: #ffffff;
}
.my1 ul{
    position: absolute;
    left: -1px;
    top: 30px;
    width: 117px;
    height: 189px;
    background: #ffffff;
    border: 1px solid #727272;
    border-top: none;
    z-index: 22;
    padding-left: 10px;
    display: none;
}
/* .my1:hover ul{
    display: block;
} */
.my1 ul .er1{
    display: block;
    height: 26px;
    color: #444444;
}
.my1 ul .er1:hover{
    color: #008842;
}
.phone1{
    padding: 0 5px;
    position: relative;
}
.phone1 .phone{
    color: #444444;
}
.phone1:hover{
    background: #ffffff;
}
.phone1 .sp4{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-63px 0px; 
}
.phone1 .sp5{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:0px 0px; 
}
.phone1:hover .sp5{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:-13px 0px;
}
.phone1 ul{
    position: absolute;
    left: -1px;
    top: 30px;
    width: 136px;
    height: 302px;
    background: #ffffff;
    border: 1px solid #727272;
    border-top: none;
    z-index: 22;
    padding-left: 10px;
    display: none;
}
.phone1 ul .er3{
    text-align: center;
    height: 25px;
    margin-top: -15px;
}
.phone1:hover ul{
    display: block;
}
.chu .sp6{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-86px 0px; 
}
.li .sp7{
    vertical-align: middle;
    display: inline-block;
    width: 23px;
    height: 18px;
    background-position:-147px 0px; 
}
/* header  end */

/* nav start */
nav{
    width: 100%;
    height: 80px;
    background: #e0e0e0;
}
.nav{
    width: 1200px;
    margin: 0 auto;
    padding-top: 13px;
}
.nav .logo{
    float: left;
}
.nav .center{
    margin-left: 145px;
    float: left;
}
.nav input{
    float: left;
    width: 435px;
    height: 26px;
    border: 1px solid #008842;
    background: #e0e0e0;
    padding-left: 10px;
    line-height: 26px;
    outline: none;
}
.nav .search{
    float: left;
    width: 82px;
    height: 28px;
    background: #008842;
    outline: none;
    border: none;
    color: #ffffff;
}
.nav .small{
    display: block;
    color: #727272;
    margin-top: 35px;
}
.nav .small b{
    color: #008842;
    font-weight: normal;  
}
.nav .gou{
    width: 121px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #008842;
    float: right;
    padding: 10px 0 0 49px;
    position: relative;
}
.nav .gou .sp8{
    vertical-align: middle;
    display: inline-block;
    width: 28px;
    height: 19px;
    background-position:-112px 0px; 
}
.nav .gou .shu{
    position: absolute;
    left: 57px;
    top: 6px;
    font-size: 9px;
    color: #008842;
    font-weight: bold;
}
.nav .gou .money{
    position: absolute;
    left: 88px;
    top: 3px;
    font-size: 20px;
    color: #008842;
}
.nav .gou .gou_list{
    display: none;
    position: absolute;
    top: 40px;
    left: -231px;
    background-image: url(../images/none-bg-w190.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #008842;
    width: 400px;
    z-index:80;
}
.nav .gou .gou_list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav .gou .gou_list li img{
    width: 40px;
}
.nav .gou .gou_list li .title{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav .gou .gou_list li .price{
    color: red;
    font-weight: bold;
}
/* nav end */


/* footer1 start */
.footer1{
    width: 100%;
    background: #e0e0e0;
}
/* fot1 start */
.footer1 .fot1{
    width: 1200px;
    margin: 0 auto;
    padding-top: 27px;
    height: 75px;  
}
.footer1 .fot1 span{
    background: url("../images/footer_service_icon.png") no-repeat;
}
.footer1 .fot1 figure{
    width: 180px;
    height: 44px;
    float: left;
    margin-right: 120px;
}
.footer1 .fot1 figure .span1{
    display: block;
    width: 44px;
    height: 44px;
    background-position: 0 0;
    float: left;
    margin-right: 13px;
}
.footer1 .fot1 figure i{
    display: block;
    height: 44px;
    width: 1px;
    background: #a6a6a6;
    float: left;
    margin-right: 13px;
}
.footer1 .fot1 figure h3{
    width: 100px;
    height: 18px;
    color: #008842;
    float: left;
}
.footer1 .fot1 figure p{
    width: 109px;
    height: 14px;
    float: left;
    line-height: 30px;
}
.footer1 .fot1 figure .span2{
    display: block;
    width: 44px;
    height: 43px;
    background-position: 0 -42px;
    float: left;
    margin-right: 13px;
}
.footer1 .fot1 figure .span3{
    display: block;
    width: 44px;
    height: 44px;
    background-position: 0 -85px;
    float: left;
    margin-right: 13px;
}
.footer1 .fot1 figure .span4{
    display: block;
    width: 44px;
    height: 44px;
    background-position: 0 -128px;
    float: left;
    margin-right: 13px;
}
/* fot1 end */
/* footer1 end */
/* footer2 start */
.footer2{
    width: 100%;
    background: #f7f8f8;
    padding-top: 50px;
}
/* fot2 start */
.footer2 .fot2{
    width: 1200px;
    margin: 0 auto;
}
.footer2 .fot2 dl{
    width: 190px;
    float: left;
    margin-left: 50px;
    display: inline;
}
.footer2 .fot2 .jing{
    background: url("../images/footer_icon.png") no-repeat;
} 
.footer2 .fot2 .col1 .jing{
    display: block;
    width: 31px;
    height: 24px;
    float: left;
    background-position: 0 0 ;
}
.footer2 .fot2 dt{
    font-size: 16px;
    width: 273px;
    height: 23px;
    line-height: 23px;
}
.footer2 .fot2 dd{
    border-left: 1px dashed #A8A8A8;
    padding-left: 20px;
    height: 110px;
    min-height: 110px;
    margin: 15px 0 0 13px;
}
.footer2 .fot2  dd a{
    color: #575556;
    line-height: 22px;
}
.footer2 .fot2 dd a:hover{
    color: #008842;
    border-bottom: 1px solid #008842;
}
.footer2 .fot2 .col2 .jing{
    display: block;
    width: 31px;
    height: 21px;
    float: left;
    background-position: 0 -24px ;
}
.footer2 .fot2 .col3 .jing{
    display: block;
    width: 31px;
    height: 21px;
    float: left;
    background-position: 0 -47px ;
}
.footer2 .fot2 .col4 .jing{
    display: block;
    width: 31px;
    height: 24px;
    float: left;
    background-position: 0 -69px ;
}
.footer2 .fot2 .col5 .jing{
    display: block;
    width: 31px;
    height: 21px;
    float: left;
    background-position: 0 -93px ;
}
.footer2 .fot2 .service{
    clear: both;
    text-align: center;
    padding: 60px 0 20px;
    color: #008842;
    font-size: 14px;
}
.footer2 .fot2 .service .wjing{
    display: inline-block;
    padding: 0 10px;
}
.footer2 .fot2 .copyright{
    clear: both;
    color: #717171;
    text-align: center;
    line-height: 22px;
}
.footer2 .fot2 .copyright a{
    color: #717171;
}
.footer2 .fot2 .copyright a:hover{
    color: #008842;
}
.footer2 .fot2 .authentication a {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    zoom: 1;
    vertical-align: middle;
}
.footer2 .fot2 .authentication .aaa{
    float: left;
}
/* fot2 end */
/* footer2 end */

/* celan start */
.celan{
    position: relative;
    width: 180px;
    background: #ffffff;
    opacity: 0.8;
    position: absolute;
    left: 75px;
    top: 0;
    z-index: 25;
}
.celan span{
    background: url("../images/nav-icon.png") no-repeat;
    margin-right: 12px;
}
.celan li{
    width: 160px;
    height: 38px;
    line-height: 38px;
}
.celan li .aa{
    width: 163px;
    padding-left: 17px;
}
.celan b{
    float: right;
    display: none;
    margin-right: 50px;
}
.celan .li:hover .aa{
    display: inline-block;
    transform: translateX(10px);
    transition:0.5s;
    height: 36px;
    width: 180px;
}
.celan .li:hover{
    width: 179px;
    height: 36px;
    border: 1px solid #727272;
    border-right: none; 
    background: #ffffff;
    opacity: 1;
}
.celan .li:hover b{
    color: #008842;
    display: block;
}

.celan .li .aa{
    height: 38px;
    line-height: 38px;
    display: block;
    color: #444444;
}
.celan li:nth-child(1){
    text-align: center;
    font-weight: bolder;
    background: #008842;
    width: 180px;
    padding-left: 0;
}
.celan li:nth-child(1) a{
    color: #ffffff;
    font-size: 14px;
    padding-left: 0;
}
.celan li:nth-child(2) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: 0 0; 
}
.celan li:nth-child(3) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -24px 0; 
}
.celan li:nth-child(4) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -48px 0; 
}
.celan li:nth-child(5) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -72px 0; 
}
.celan li:nth-child(6) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: 0 0; 
}
.celan li:nth-child(7) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -96px 0; 
}
.celan li:nth-child(8) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -120px 0; 
}
.celan li:nth-child(9) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -144px 0; 
}
.celan li:nth-child(10) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -168px 0; 
}
.celan li:nth-child(11) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -192px 0; 
}
.celan li:nth-child(12) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -216px 0; 
}
.celan li:nth-child(13) span{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-position: -240px 0; 
}

.celan .dan{
    position: absolute;
    top: 0;
    left:180px;
    background: #ffffff;
    width: 256px;
    height: 500px;
    border: 1px solid #727272;
    border-left: none;
    padding-left: 10px;
    display: none;
}
.celan h2{
    color: #008842;
    width: 80px;
}
.celan h2:hover{
    border-bottom: 1px solid #008842;
}
.celan .guo{
    float: left;
    width: 65px;
    height: 30px;
    line-height: 30px;
    color: #444444;
}
.celan .guo:hover{
    float: left;
    width: 65px;
    height: 30px;
    line-height:30px;
    color: #008842;
}
.celan li:hover .dan{
    display: block;
}
.celan img{
    position: absolute;
    bottom: 0;
    left: 0;
}
/* celan end */

/* 吸顶 start */
.header_fixed{
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: #e0e0e0;
    opacity: 0.9;
}
.header_fixed .wrap{
    width: 1200px;
    margin: 0 auto;
    height: 36px;
    padding: 5px 0;
}
.header_fixed .wrap .logo{
    height: 39px;
    width: 108px;
    float: left;
    margin-right: 175px;
}
.header_fixed .wrap .logo img{
    width: 100%;
    height: 100%;
}
.header_fixed .search-bar{
    float: left;
}
.header_fixed .search{
    width: 740px;
    margin-top: 3px;
    float: left;
}
.search .search-input {
    float: left;
    width: 425px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    border: 1px solid #008842;
    background: #e0e0e0;
    outline: none;
    vertical-align: middle;
}
.search .search-btn {
    float: left;
    display: block;
    width: 81px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    background: #008842;
    outline: none;
}
#keywords {
    height: 30px;
}
.header_fixed .search .search-keywords {
    overflow: hidden;
    float: left;
    width: 200px;
    height: 28px;
    margin-left: 10px;
    line-height: 30px;
}
.header_fixed .search .search-keywords .hot{
    color: #008842;
}
.header_fixed .search .search-keywords a{
    color: #727272;
}
.header_fixed .gou{
    width: 121px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #008842;
    float: right;
    padding: 10px 0 0 49px;
    position: relative;
}
.header_fixed .gou .sp8{
    vertical-align: middle;
    display: inline-block;
    width: 28px;
    height: 19px;
    background-position:-112px 0px; 
}
.header_fixed .gou .shu{
    position: absolute;
    left: 57px;
    top: 6px;
    font-size: 9px;
    color: #008842;
    font-weight: bold;
}
.header_fixed .gou .money{
    position: absolute;
    left: 88px;
    top: 3px;
    font-size: 20px;
    color: #008842;
}

/* 吸顶 end */
/* 返回顶部 start */
.sidebar {
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 47%;
    margin-right: -625px;
    width: 56px;
}
.sidebar .s-btn{
    overflow: hidden;
    display: block;
    width: 50px;
    height: 42px;
    margin-bottom: 10px;
    background: url("../images/sidebar.png") no-repeat;
}
.sidebar .service{
    background-position: 0 -46px;
}
.sidebar .service:hover{
    background-position: -57px -48px;
}
.sidebar .goTop:hover{
    background-position: -57px 0;
}
/* 返回顶部 end */
