/* header  start */
header{
    width: 100%;
    height: 30px;
    background: pink
}
.head{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
    background: #aaaaaa;
    line-height: 30px;
}
.head .left{
    float: left;
}
.head .hello{
    float: left;
}
.send,.local{
    color: #008842;
    float: left;
}
span{
    background: url("../images/header-img.png") no-repeat;
}
.local .sp1{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:0px 0px; 
}
.local:hover .sp1{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:-25px 0px;
    transition: .3s;
    transform: rotate(180deg)
}

.head .right{
    width: 574px;
    float: right;
}
.login,.register,.my1,.phone1,.chu,.li{
    float: left;
    margin-right: 20px;
    color: #444444;
}
.my1 .my{
    color: #444444;
}
.my1{
    padding: 0 5px;
    position: relative;
}
.my1 .sp2{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-40px 0px; 
}
.my1 .sp3{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:0px 0px; 
}
.my1:hover .sp3{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:-13px 0px;
}
.my1:hover{
    background: #ffffff;
}
.my1 ul{
    position: absolute;
    left: -1px;
    top: 30px;
    width: 117px;
    height: 189px;
    background: #ffffff;
    border: 1px solid #727272;
    border-top: none;
    z-index: 22;
    padding-left: 10px;
    display: none;
}
/* .my1:hover ul{
    display: block;
} */
.my1 ul .er1{
    display: block;
    height: 26px;
    color: #444444;
}
.my1 ul .er1:hover{
    color: #008842;
}
.phone1{
    padding: 0 5px;
    position: relative;
}
.phone1 .phone{
    color: #444444;
}
.phone1:hover{
    background: #ffffff;
}
.phone1 .sp4{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-63px 0px; 
}
.phone1 .sp5{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:0px 0px; 
}
.phone1:hover .sp5{
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 4px;
    background-position:-13px 0px;
}
.phone1 ul{
    position: absolute;
    left: -1px;
    top: 30px;
    width: 136px;
    height: 302px;
    background: #ffffff;
    border: 1px solid #727272;
    border-top: none;
    z-index: 22;
    padding-left: 10px;
    display: none;
}
.phone1 ul .er3{
    text-align: center;
    height: 25px;
    margin-top: -15px;
}
.phone1:hover ul{
    display: block;
}
.chu .sp6{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-86px 0px; 
}
.li .sp7{
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position:-147px 0px; 
}
/* header  end */

/* nav start */
nav{
    width: 100%;
    height: 80px;
    background: #e0e0e0;
}
.nav{
    width: 1200px;
    margin: 0 auto;
    padding-top: 13px;
}
.nav .logo{
    float: left;
}
.nav .center{
    margin-left: 145px;
    float: left;
}
.nav input{
    float: left;
    width: 435px;
    height: 26px;
    border: 1px solid #008842;
    background: #e0e0e0;
    padding-left: 10px;
    line-height: 26px;
    outline: none;
}
.nav .search{
    float: left;
    width: 82px;
    height: 28px;
    background: #008842;
    outline: none;
    border: none;
    color: #ffffff;
}
.nav .small{
    display: block;
    color: #727272;
    margin-top: 35px;
}
.nav .small b{
    color: #008842;
    font-weight: normal;  
}
.nav .gou{
    width: 121px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #008842;
    float: right;
    padding: 10px 0 0 49px;
    position: relative;
}
.nav .gou .sp8{
    vertical-align: middle;
    display: inline-block;
    width: 28px;
    height: 19px;
    background-position:-112px 0px; 
}
.nav .gou .shu{
    position: absolute;
    left: 57px;
    top: 6px;
    font-size: 9px;
    color: #008842;
    font-weight: bold;
}
.nav .gou .money{
    position: absolute;
    left: 88px;
    top: 3px;
    font-size: 20px;
    color: #008842;
}
/* nav end */

/* banner start */
.banner{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.banner .btn{
    background: url("../images/slider-btn.png") no-repeat
}
.banner #left{
    width: 40px;
    height: 100px;
    background-position: 0 0;
    position: absolute;
    left: 0;
    top: 240px;
    z-index: 20;
    opacity: 0.3;
    display: none;
}
.banner #right{
    width: 40px;
    height: 100px;
    background-position: -50px 0;
    position: absolute;
    right: 0;
    top: 240px;
    z-index: 20;
    opacity: 0.3;
    display: none;
}
.banner:hover #left{
    display: block;
}
.banner:hover #right{
    display: block;
}
.banner #left:hover{
    opacity: 0.7;
}
.banner #right:hover{
    opacity: 0.7;
}
.banner .warp{
    position: relative;
    width: 1349px;
    overflow: hidden;
}
.banner .slide{
    width: 1349px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: absolute;
    transform: scaleX(1.2) scaleY(1.2);
    overflow: hidden;
    top: 0;
    margin-left: -8%;
}
.banner .slide-show{
    z-index: 2;
    overflow: hidden;
}
.banner .slide-show>img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition:  3.5s linear;
    transform: scaleX(0.9) scaleY(0.9);
}
.banner .slide-willhide{
    z-index: 1;
}
.banner .slide img{
    
    width: 1600px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    /* left: -50%; */
    /* margin-left: -920px; */
    
}
.transform1{
 
}
/* .banner .slide:hover img{

} */
.banner .pagination{
    position: absolute;
    z-index: 10;
    bottom: 12px;
    width: 100%;
    height: 12px;
    text-align: center;
    padding: 10px 0;
}
.banner .pagination span{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #b5b2a8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.6);
    margin-left: 10px;
}
.banner .pagination span.active{
    background: #5aaa16;
}

/* celan start */
.celan{
    width: 180px;
    background: #ffffff;
    opacity: 0.7;
    position: absolute;
    left: 75px;
    top: 0;
    z-index: 25;
}
.celan span{
    background: url("../images/nav-icon.png") no-repeat;
}
.celan li{
    height: 38px;
    line-height: 38px;
    text-align: center;
}
.celan li a{
    color: #444444;
}
.celan li:nth-child(1){
    font-weight: bolder;
    background: #008842;
}
.celan li:nth-child(1) {
    width: 0;
    height: 0;
    border-top: 5px solid #ffffff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.celan li:nth-child(1) a{
    color: #ffffff;
    font-size: 14px;
}
/* celan end */
/* banner end */